{% extends 'index.html' %}
{% block content %}
    <div class="main-center" style="margin-top: 200px">
    {{ message }}
    </div>
    {% if not user.is_authenticated %}
        <div class="main-center">
            <div class="acard w-25">
                <div class="card-body">
                    <form method="post" class="form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}